<h2>Entity-Relationship Diagram</h2>

<figure>
  <img src="<%= url_for_file("images/_index.erd.png") %>" alt="Entity-Relationship Diagram">
  <figcaption>
    Full Entity-Relationship Diagram for this project.
  </figcaption>
</figure>